{
	"name": "collecting_society",
	"dockerComposeFile": [ "docker-compose.yml", "docker-compose.override.yml" ],
	"runArgs": ["--projectname", "collecting_society"],
	"service": "test_web",
	"workspaceFolder": "/shared",
	"shutdownAction": "none",
	"customizations": {
		"extensions": [
			"ms-python.python",
			"visualstudioexptteam.vscodeintellicode",
			"vscode.flake8",
			"ms-python.vscode-pylance"
		],
		"settings": {
			"editor.rulers": [ 79, 119 ]
		}
	}
}
