# For copyright and license terms, see COPYRIGHT.rst (top level of repository)
# Repository: https://github.com/C3S/collecting_society_docker

# Swap files
*~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
nosetests_*.xml
coverage.xml
/volumes/shared/cover
/volumes/shared/cover_*

# Translations
#*.mo   unless we integrate the translation tools into the build process, 
#*.pot  we need to version these files

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Ctags
tags

# Tmp Files
/.tmp

# Volumes
/volumes/*
!/volumes/shared

# Created foldes
/code
/volumes/shared/src
/volumes/shared/ref
/volumes/shared/tmp
/volumes/shared/pyramid_debugtoolbar_templates_exception_summary_dbtmako

# pyramid_mailer.debug
/volumes/shared/mail

# Configuration files for docker container
/docker-compose.*.yml
!/docker-compose.development.yml
!/docker-compose.staging.yml
!/docker-compose.production.yml
!/docker-compose.testing.yml
!/docker-compose.documentation.yml
/.env
/services/*.env
!/services/build
/volumes/shared/config/trytond/passfile
/volumes/shared/config/trytond/staging.conf
/volumes/shared/config/trytond/production.conf

# VS Code
/.vscode/*
.devcontainer.json

# Sphinx Documentation
/volumes/shared/docs/source/generated
/volumes/shared/docs/source/collecting_society

# Tryton data development
/volumes/shared/data/develop.txt
