# For copyright and license terms, see COPYRIGHT.rst (top level of repository)
# Repository: https://github.com/C3S/c3s.ado.repertoire

# environment
VIRTUAL_HOST=api.0.0.0.0.xip.io
VIRTUAL_PORT=6543
TRUSTED_PROXY=0.0.0.0
PYRAMID_SERVICE=api
ENVIRONMENT=development

# secrets
AUTHENTICATION_SECRET=s0secret!!
SESSION_SECRET=s0secret!!

# apis
API_C3SUPLOAD_CORS_ORIGINS=http://0.0.0.0.xip.io:81
API_C3SUPLOAD_FILEPATH=/ado/tmp/upload
API_C3SUPLOAD_URL=http://api.0.0.0.0.xip.io:81/repertoire
API_C3SUPLOAD_VERSION=v1