# For copyright and license terms, see COPYRIGHT.rst (top level of repository)
# Repository: https://github.com/C3S/collecting_society_docker

# environment
VIRTUAL_HOST=repertoire.test
VIRTUAL_PORT=6543
TRUSTED_PROXY=0.0.0.0
PYRAMID_SERVICE=portal
ENVIRONMENT=development
# DEBUGGER=ptvsd

# secrets
AUTHENTICATION_SECRET=s0secret!!
SESSION_SECRET=s0secret!!

# contacts
MAIL_HOST=localhost
MAIL_PORT=25
MAIL_DEFAULT_SENDER=sender@portal.test
MAIL_TO_REAL_WORLD=0

# apis
API_C3SMEMBERSHIP_URL=http://api:6543/c3smembership
API_C3SMEMBERSHIP_VERSION=v1
API_C3SMEMBERSHIP_API_KEY=s0secret!!

API_C3SUPLOAD_URL=http://api.repertoire.test:81/repertoire
API_C3SUPLOAD_VERSION=v1

API_DATATABLES_URL=http://api.repertoire.test:81/datatables
API_DATATABLES_VERSION=v1