# For copyright and license terms, see COPYRIGHT.rst (top level of repository)
# Repository: https://github.com/C3S/c3s.ado.repertoire

# environment
VIRTUAL_HOST=repertoire.test
VIRTUAL_PORT=6543
TRUSTED_PROXY=0.0.0.0
PYRAMID_SERVICE=portal
ENVIRONMENT=development

# secrets
AUTHENTICATION_SECRET=s0secret!!
SESSION_SECRET=s0secret!!

# contacts
MAIL_DEFAULT_SENDER=sender@portal.test

# apis
API_C3SMEMBERSHIP_URL=http://api:6543/c3smembership
API_C3SMEMBERSHIP_VERSION=v1
API_C3SMEMBERSHIP_API_KEY=s0secret!!
API_C3SUPLOAD_URL=http://api.repertoire.test:81/repertoire
API_C3SUPLOAD_VERSION=v1

# echoprint
ECHOPRINT_SERVER_TOKEN=s0secret!!