# For copyright and license terms, see COPYRIGHT.rst (top level of repository)
# Repository: https://github.com/C3S/c3s.ado.repertoire

# environment
ENVIRONMENT=development

# echoprint
ECHOPRINT_SERVER_TOKEN=s0secret!!