# For copyright and license terms, see COPYRIGHT.rst (top level of repository)
# Repository: https://github.com/C3S/collecting_society_docker

# project
PROJECT=collecting_society
ENVIRONMENT=development
GIT_SSH=0
# GIT_USER_NAME=Firstname Lastname
# GIT_USER_EMAIL=firstname.lastname@c3s.cc

# tryton
TRYTON_VERSION=3.4

# nginx
VIRTUAL_HOST_GUI=repertoire.test
VIRTUAL_HOST_API=api.repertoire.test
VIRTUAL_PORT=6543

# pserve
TRUSTED_PROXY=0.0.0.0

# apis
API_C3SUPLOAD_URL=http://$VIRTUAL_HOST_API:81/repertoire
API_C3SUPLOAD_VERSION=v1
API_C3SUPLOAD_CORS_ORIGINS=http://$VIRTUAL_HOST_GUI:81
API_C3SUPLOAD_CONTENTBASEPATH=/shared/tmp/upload
API_C3SUPLOAD_STORAGEBASEPATH=/shared/tmp/upload

API_DATATABLES_URL=http://$VIRTUAL_HOST_API:81/datatables
API_DATATABLES_VERSION=v1
API_DATATABLES_CORS_ORIGINS=http://$VIRTUAL_HOST_GUI:81

API_C3SMEMBERSHIP_URL=http://api:6543/c3smembership
API_C3SMEMBERSHIP_VERSION=v1

# mail
MAIL_HOST=localhost
MAIL_PORT=25
MAIL_DEFAULT_SENDER=defaultsender@$VIRTUAL_HOST_GUI
MAIL_TO_REAL_WORLD=0

# debug
# DEBUGGER=ptvsd