# For copyright and license terms, see COPYRIGHT.rst (top level of repository)
# Repository: https://github.com/C3S/collecting_society_docker

# environment
VIRTUAL_HOST=api.repertoire.test
PYRAMID_SERVICE=api

# secrets
AUTHENTICATION_SECRET=s0secret!!
SESSION_SECRET=s0secret!!
