# For copyright and license terms, see COPYRIGHT.rst (top level of repository)
# Repository: https://github.com/C3S/collecting_society_docker

# nginx
VIRTUAL_HOST=${VIRTUAL_HOST_WEBAPI}
VIRTUAL_PORT=6543

# pyramid
PYRAMID_SERVICE=api
PYRAMID_AUTHENTICATION_SECRET=s0secret!!
PYRAMID_SESSION_SECRET=s0secret!!
