# For copyright and license terms, see COPYRIGHT.rst (top level of repository)
# Repository: https://github.com/C3S/collecting_society_docker

# postgres
PGPASSWORD=s0secret!!

# pyramid
PYRAMID_AUTHENTICATION_SECRET=s0secret!!
PYRAMID_SESSION_SECRET=s0secret!!
