# For copyright and license terms, see COPYRIGHT.rst (top level of repository)
# Repository: https://github.com/C3S/collecting_society_docker

# nginx
VIRTUAL_HOST=api.collecting_society.test
VIRTUAL_PORT=6543

# pyramid
PYRAMID_SERVICE=api

# secrets
AUTHENTICATION_SECRET=s0secret!!
SESSION_SECRET=s0secret!!
API_C3SMEMBERSHIP_API_KEY=s0secret!!
